<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置别名，以后在Mapper文件中就不需要写全限定名了，而是可以直接写别名了-->
    <typeAliases>
        <typeAlias alias="user" type="com.liuxiaocs.mybatis.User"/>
    </typeAliases>

    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/suns?serverTimezone=GMT%2B8"/>
                <property name="username" value="root"/>
                <property name="password" value="lx123456"/>
            </dataSource>
        </environment>
    </environments>

    <!--注册Mapper-->
    <mappers>
        <mapper resource="UserDAOMapper.xml"/>
    </mappers>
</configuration>