<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--1. 创建原始对象-->
    <bean id="userService" class="com.liuxiaocs.proxy.UserServiceImpl"/>
    <!--只需要加入目标对象即可-->
    <bean id="orderService" class="com.liuxiaocs.proxy.OrderServiceImpl"/>
    <!--2. 创建额外功能对象-->
    <!--关闭了修改-->
    <!--<bean id="before" class="com.liuxiaocs.dynamic.Before1"/>-->
    <!--使用Before1新的额外功能-->
    <!--打开了扩展-->
    <!--<bean id="before" class="com.liuxiaocs.dynamic.Before1"/>-->
    <bean id="arround" class="com.liuxiaocs.dynamic.Arround"/>

    <!--3. 定义切入点-->
    <aop:config>
        <!--pointcut切入点，将额外功能before功能加给哪些方法-->
        <!--expression切入点表达式：为某些方法加入额外功能-->
        <!--execution(* *(..))表示所有的方法都加这个额外功能-->
        <!--所有的方法，都作为切入点，加入额外功能 login register-->
        <!--<aop:pointcut id="pc" expression="execution(* *(..))"/>-->
        <!--login(..)方法增加额外功能-->
        <!--<aop:pointcut id="pc" expression="execution(* login(..))"/>-->
        <!--login(String, String)方法增加额外功能-->
        <!--<aop:pointcut id="pc" expression="execution(* login(String, String))"/>-->
        <!--<aop:pointcut id="pc" expression="execution(* login(String))"/>-->
        <!--<aop:pointcut id="pc" expression="execution(* login(String, ..))"/>-->
        <!--类全限定名-->
        <!--<aop:pointcut id="pc" expression="execution(* com.liuxiaocs.proxy.UserServiceImpl.login(..))"/>-->
        <!--类切入点，类中的所有方法-->
        <!--<aop:pointcut id="pc" expression="execution(* com.liuxiaocs.proxy.UserServiceImpl.*(..))"/>-->
        <!--<aop:pointcut id="pc" expression="execution(* *.UserServiceImpl.*(..))"/>-->
        <aop:pointcut id="pc" expression="execution(* *..UserServiceImpl.*(..))"/>

        <!--4. 组装-->
        <!--目的：把切入点与额外功能进行整合-->
        <!--2、3组装，所有的方法都加上before的额外功能-->
        <aop:advisor advice-ref="arround" pointcut-ref="pc"/>
    </aop:config>

</beans>